project_dir=
DEEPSEEK_PROJECT_ROOT=
API_KEY_FULL=
HF_TOKEN=

COPERNICUS_USER=
COPERNICUS_PASSWORD=
#keys
OPEN_WEATHER_MAP =
SENTINELHUB_API_KEY=
GOOGLE_CLOUD_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=

